### THE PROJECT SPECIFIES #################################################

### Node ###
# Husky
.husky/_

# React Static
artifacts/
tmp/

### Text ###
.github/*.md
LICENSE

### Others ###
# Local Netlify folder
.netlify

*.css
.*ignore
